.app {
  font-family: 'Courier New', Courier, monospace;
  color:black;
  text-align: center;
  width:100dvw;
  height:100dvh;
  background:rgb(83, 161, 83);
  color:#fff
}

/* Game css */
.game{
  min-height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title{
  font-family:system-ui;
  font-weight: bold;
  font-size:35px;
}

.game-grid{
  margin-top: 40px;
  position:relative;
}

.game-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box{
  width:80px;
  height:80px;
  border:solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:32px;
}

.game-winner-top-strike{
  border:solid green;
  width:90%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  top:32.5px;
}

.game-winner-row-middle-strike{
  border:solid green;
  width:90%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  top:45.5%;
}

.game-winner-bottom-strike{
  border:solid green;
  width:90%;
  position:absolute;
  left:50%;
  transform:translate(-50%);
  bottom:32.5px;
}

.game-winner-left-strike{
  border:solid green;
  width:90%;
  position:absolute;
  transform:rotate(90deg);
  left:-72px;
  top:47%;
}

.game-winner-column-middle-strike{
  border:solid green;
  width:90%;
  position:absolute;
  transform:rotate(90deg);
  left:12px;
  top:47%;
}

.game-winner-right-strike{
  border:solid green;
  width:90%;
  position:absolute;
  transform:rotate(90deg);
  right:-71.5px;
  top:47%;
}

.game-winner-diagonal-left-strike{
  border:solid green;
  width:110%;
  position:absolute;
  top:46%;
  left:50%;
  transform: translateX(-50%) rotate(45deg);
}

.game-winner-diagonal-right-strike{
  border:solid green;
  width:110%;
  position:absolute;
  top:46%;
  left:50%;
  transform: translateX(-50%) rotate(135deg);
}

.game-players{
  display:flex;
  justify-content: space-between;
  margin-top:25px;
  margin-bottom:25px;
}

.game-player{
  border:solid black;
  padding:15px;
  font-weight: bold;
  border-bottom:solid black 5px;
}

.game-selected-player{
  border:solid black;
  padding:15px;
  font-weight: bold;
  border-bottom:solid green 5px;
}

/* Welcome page css */
.welcome{
  width:100%;
  min-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title{
 font-size:60px;
 font-weight: bold;
 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:15px;
}

.welcome-title>div:first-child{
  transform:rotate(12deg)
}

.welcome-title>div:nth-child(2){
  transform: rotate(-12deg);
  font-size: 80px;
}

.welcome-title>div:last-child{
  transform:rotate(12deg)
}

.welcome-buttons-container{
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap:105px;
}

.button{
  padding:15px 25px;
  border-radius: 5px;
  border:solid white 1px;
  font-size: 20px;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.input{
  background:none;
  border:none;
  outline:none;
  font-size: 18px;
  color:#fff;
  font-weight: bold;
}

.input-box{
  border:solid #fff 1px;
  border-radius: 5px;
  padding:15px 25px;
  display: flex;
  align-items: center;
  gap:10px
}

.input-box>div{
  font-weight: bold;
  font-size:20px;
  cursor: pointer;
}

.welcome-play-button{
  margin-top:55px;
  background:#fff;
  color:rgb(83, 161, 83)
}